<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="UTF-8">
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@anineco_org">
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://anineco.org/{{ cid }}/2x/{{ cover.hash }}.jpg">
<meta property="og:url" content="https://anineco.org/{{ cid }}.html">
<meta property="og:description" content="{{ description }}">
<meta property="og:site_name" content="あにねこ登山日誌">
<title>{{ title }}</title>
<link rel="canonical" href="https://anineco.org/{{ cid }}.html">
<link rel="stylesheet" href="css/tozan.css">
<script type="module" src="js/tozan.js"></script>
<script type="application/ld+json">{{ json_ld }}</script>
</head>
<body>
<div id="container">
<main>
<article>
<h1>{{ title }}</h1>
{% if date.start == date.end %}
<div>{{ datejp.start }}</div>
<div>天気：☀️☁️☔☃️</div>
{% else %}
<div>{{ datejp.start }}〜{{ datejp.end }}</div>
{% endif %}
<div>メンバー：T</div>
{% for s in section %}
{% if loop.length == 1 %}
<div>行程：{{ s.timeline }}</div>
{% endif %}
{% if s.routemap is defined and s.routemap.endswith("routemap.geojson") %}
<div class="routemap"><a href="{{ s.routemap }}">ルート地図</a>
GPSのログ（赤：往路、青：復路）を地理院地図に重ねて表示します。</div>
{% endif %}
{% if loop.first %}
<hr>
{% endif %}
{% if loop.length > 1 %}
<p>本文</p>
<div class="section">
<h2>{{ s.title }}</h2>
{% if date.start != date.end %}
<div>{{ s.date }}</div>
<div>天気：☀️☁️☔☃️</div>
{% endif %}
<div>行程：{{ s.timeline }}</div>
{% if s.routemap is defined and not s.routemap.endswith("routemap.geojson") %}
<div class="routemap"><a href="{{ s.routemap }}">ルート地図</a>
GPSのログ（赤：往路、青：復路）を地理院地図に重ねて表示します。</div>
{% endif %}
</div>
{% endif %}
{% for i in s.photo %}
<p>本文</p>
<div class="photo">
<figure><picture>
<source type="image/avif" srcset="{{ cid }}/{{ i.base0 }}.avif 1x,{{ cid }}/2x/{{ i.base0 }}.avif 2x">
<img src="{{ cid }}/{{ i.base0 }}.jpg" srcset="{{ cid }}/2x/{{ i.base0 }}.jpg 2x" width="{{ i.w0 }}" height="{{ i.h0 }}" alt="">
</picture>
<figcaption>{{ i.cap0 }}</figcaption>
</figure>
<figure><picture>
<source type="image/avif" srcset="{{ cid }}/{{ i.base1 }}.avif 1x,{{ cid }}/2x/{{ i.base1 }}.avif 2x">
<img src="{{ cid }}/{{ i.base1 }}.jpg" srcset="{{ cid }}/2x/{{ i.base1 }}.jpg 2x" width="{{ i.w1 }}" height="{{ i.h1 }}" alt="">
</picture>
<figcaption>{{ i.cap1 }}</figcaption>
</figure>
</div>
{% endfor %}
{% endfor %}
<p>なんとか♨️に立ち寄って帰った。</p>
</article>
</main>
<footer>
<hr>
<small>あにねこ登山日誌 © {{ lm_year }} <a href="https://anineco.org/">anineco.org</a></small>
<nav>
<a href=".">TOP</a>
▶
<a href="ch{{ year }}.html">山行記録（{{ year }}年）</a>
</nav>
</footer>
</div>
</body>
</html>
