<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="UTF-8">
<meta name="author" content="あにねこ">
<meta name="description" content="群馬県桐生市からの車利用日帰り山歩きをメインとする山行記録">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@anineco_org">
<meta property="og:title" content="あにねこ登山日誌">
<meta property="og:type" content="website">
<meta property="og:image" content="https://anineco.org/image/ogp.jpg">
<meta property="og:url" content="https://anineco.org/">
<meta property="og:description" content="群馬県桐生市からの車利用日帰り山歩きをメインとする山行記録">
<title>あにねこ登山日誌</title>
<link rel="canonical" href="https://anineco.org/">
<link rel="stylesheet" href="css/top.css">
<link rel="alternate" type="application/rss+xml" title="RSS" href="tozan.rdf">
<link rel="icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
<script type="module" src="js/tozan.js"></script>
</head>
<body>
<div id="container">
<header>
<h1>あにねこ登山日誌</h1>
<div>群馬県桐生市からの車利用日帰り山歩きをメインとする山行記録のサイトです。</div>
</header>
<div id="logo">
<picture>
<source type="image/avif" srcset="image/header1x.avif 1x,image/header2x.avif 2x">
<img src="image/header1x.jpg" width="650" height="100" alt="">
</picture>
</div>
<aside>
<div id="update" lang="en">Last Modified: {{ lm_date }}</div>
<form action="msearch/msearch.cgi" accept-charset="UTF-8">
<div>
<input type="text" name="query" size="15" value="" maxlength="30" aria-label="HP内検索">
<input type="submit" value="HP内検索">
</div>
</form>
</aside>
<nav>
<ul>
<li><a href="about.html">このサイトについて</a></li>
<li><a href="profile.html">自己紹介</a></li>
<li><a href="link.html">リンク集</a></li>
<li><a href="hist{{ lmyy }}.html">更新履歴</a></li>
<li><a href="bbs/index.cgi" rel="ugc">掲示板</a></li>
</ul>
</nav>
<main>
<div id="left">
<h2>年別山行記録</h2>
<ul>
<li><select id="ch-year" aria-label="年を選択"><option value="#" selected>--年を選択--</option></select></li>
</ul>
<h2>地図から選択</h2>
<ul>
<li><select onchange="location.assign('map.html?idx='+(this.selectedIndex-1));" aria-label="カテゴリ">
<option selected>--カテゴリ--</option>
{% for item in category %}
<option>{{ item.name }}</option>
{% endfor %}
</select></li>
</ul>
<h2>雑記</h2>
<ul>
<li><a href="nandoku.html">難読・稀少漢字山名</a></li>
</ul>
</div><!-- #left -->
<div id="right">
<h2>最近の山行記録
<a href="tozan.rdf" title="最近の山行記録の要約RSS1.0" type="application/rdf+xml"><img src="image/rss32.png" alt="RSS" width="16" height="16"></a>
<a href="https://x.com/anineco_org" title="あにねこの𝕏(@anineco_org)"><img src="image/x-logo32.png" alt="𝕏" width="16" height="16"></a></h2>
{% for item in items %}
{% if not loop.first %}
<hr>
{% endif %}
<!--{{ item.title }}-->
<div class="record">
<div class="photo"><img src="{{ item.img1x }}" srcset="{{ item.img2x }} 2x" width="120" height="90" alt=""></div>
<div class="note">
<div class="area">{{ item.region }}</div>
<h4><a href="{{ item.link }}">{{ item.title }}</a>
{%- if item.new %}
 <img src="image/new.gif" alt="new!" width="20" height="11">
{%- endif %}
</h4>
<div class="date">{{ item.period }}</div>
<p>{{ item.summary }}</p>
</div>
</div>
{% endfor %}
<!--おわり-->
</div><!-- #right -->
</main>
<footer>
<hr>
<small>あにねこ登山日誌 © 2004-{{ lm_year }} <a href="https://anineco.org/">anineco.org</a></small>
<img src="dayx/dayx.cgi?gif" width="72" height="13" alt="">
</footer>
</div><!-- #container -->
</body>
</html>
