<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://purl.org/rss/1.0/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xml:lang="ja">
<channel rdf:about="https://anineco.org/tozan.rdf">
<title>あにねこ登山日誌</title>
<link>https://anineco.org/</link>
<description>群馬県桐生市からの車利用日帰り山歩きをメインとする山行記録のサイトです。</description>
<items>
<rdf:Seq>
{% for item in items %}
<rdf:li rdf:resource="https://anineco.org/{{ item.link }}"/>
{% endfor %}
</rdf:Seq>
</items>
</channel>
{% for item in items %}
<item rdf:about="https://anineco.org/{{ item.link }}">
<title>{{ item.title }}</title>
<link>https://anineco.org/{{ item.link }}</link>
<description>{{ item.period }} {{ item.summary }}</description>
<content:encoded><![CDATA[<img src="https://anineco.org/{{ item.img1x }}" srcset="https://anineco.org/{{ item.img2x }} 2x" width="120" height="90">]]></content:encoded>
<dc:subject>登山</dc:subject>
<dc:creator>あにねこ</dc:creator>
<dc:date>{{ item.pub }}</dc:date>
</item>
{% endfor %}
</rdf:RDF>
