node_modules/
work/
test/
docs/assets
docs/bbs
docs/css
docs/dayx
docs/google*
docs/icon
docs/js
docs/lime
docs/map
docs/map.html
docs/msearch
docs/report
docs/routemap.html
docs/share
docs/sitemap.xml.gz
.env*
*.jpg
*.avif
*.sqlite3
*.pdf
*.PDF
*.tgz
