__pycache__/
venv/
node_modules/
work/
test/
dist/assets
dist/bbs
dist/css
dist/dayx
dist/google*
dist/icon
dist/js
dist/lime
dist/map
dist/map.html
dist/msearch
dist/report
dist/routemap.html
dist/share
dist/sitemap.xml.gz
.env*
*.jpg
*.avif
*.sqlite3
*.pdf
*.PDF
*.tgz
