@charset "UTF-8";

table {
    clear: both;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #ffc;
    border: 1px solid silver;
    text-align: left;
    padding: 2px;
    white-space: nowrap;
}

td {
    background-color: white;
    border: 1px solid silver;
    padding: 2px;
    vertical-align: top;
}

/* ch*.html, hist*.html */
td:first-child {
    text-align: center;
    width: 0;
    white-space: nowrap;
}

.done td:first-child {
    color: red;
}

html:not(:target) td[colspan] {
    background-color: #ffc;
}

li div {
    margin-left: 2em;
}

dt {
    display: list-item;
    list-style: none;
}

dt:before {
    content: "▪ ";
    color: green;
}

dd {
    margin-bottom: 10px;
}

/* end of list.css */
